<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product(); as productRef) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="monolithicEcomApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ productRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.name">Name</span></dt>
          <dd>
            <span>{{ productRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.quantity">Quantity</span></dt>
          <dd>
            <span>{{ productRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.price">Price</span></dt>
          <dd>
            <span>{{ productRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.createdAt">Created At</span></dt>
          <dd>
            <span>{{ productRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.updatedAt">Updated At</span></dt>
          <dd>
            <span>{{ productRef.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.product.category">Category</span></dt>
          <dd>
            @if (product()!.category) {
              <div>
                <a [routerLink]="['/category', product()!.category?.id, 'view']">{{ productRef.category?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/product', productRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
