<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (permission(); as permissionRef) {
      <div>
        <h2 data-cy="permissionDetailsHeading"><span jhiTranslate="monolithicEcomApp.permission.detail.title">Permission</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ permissionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.permission.name">Name</span></dt>
          <dd>
            <span>{{ permissionRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="monolithicEcomApp.permission.description">Description</span></dt>
          <dd>
            <span>{{ permissionRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/permission', permissionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
